/Poo1_Operadores_booleanos/build/
/Poo1_Operadores_booleanos/nbproject/private/
/condicionalesif_else/build/
/condicionalesif_else/nbproject/private/
/operadores_Logicos/build/
/operadores_Logicos/nbproject/private/
/operadoresaritmenticos/build/
/operadoresaritmenticos/nbproject/private/
/practicapoo1_miguelMolina/nbproject/private/
